/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos para el encabezado */
header {
  text-align: center;
  padding: 50px 0;
  background-color: #0d1b2a; /* Azul oscuro */
  color: #fff; /* Texto blanco */
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.logo-container img {
  width: 50px;
  margin: 0 10px;
}

/* Estilos para la sección de Portfolio */
#portfolio {
  background-color: #08101a; /* Azul oscuro más intenso */
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

#portfolio h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

/* Estilos para el contenedor del carrusel */
.carousel-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  overflow: hidden; /* Ocultar el desbordamiento horizontal */
}

.video-carousel {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 20px;
  width: 100%; /* Asegurar que ocupe todo el ancho */
}

/* Estilos para los videos dentro del carrusel */
.video-container {
  width: 300px;
  margin-right: 20px;
  scroll-snap-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); /* Sombra suave */
}

.video-container:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
  transition: transform 0.3s ease;
}

/* Estilos para los botones */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#prev-video,
#next-video,
#prev-video-2,
#next-video-2 {
  background-color: #1a2c43; /* Azul más oscuro */
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none; /* Eliminar el borde predeterminado */
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 10px; /* Espacio entre los botones */
}

#prev-video:hover,
#next-video:hover,
#prev-video-2:hover,
#next-video-2:hover {
  background-color: #3a506b; /* Azul medio */
}

/* Estilos para la sección de contacto */
#contact {
  background-color: #0d1b2a; /* Azul oscuro */
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

#contact h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

#contact p {
  font-size: 18px;
}
